@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e6e6d8;
  font-family: "Kameron", serif;
}
/*
.tv__screen {
  width: 80vw;
  height: 80vh;
  border: 8px solid #000;
  border-radius: 8px;
  background: #0f0a1e;
  color: white;
  box-shadow: 0px 0px 1px 12px #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}
*/
.tv__screen__h1 {
  --stroke-orange: rgb(242 160 77);
  --stroke-dark-orange: rgb(196 90 64);
  --stroke-white: white;
  --stroke-width: 5px;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3em;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgb(251 227 102);
  text-shadow: var(--stroke-width) var(--stroke-width) 0 var(--stroke-orange),
    calc(var(--stroke-width) * 2) calc(var(--stroke-width) * 2) 0 var(--stroke-dark-orange),
    0 0 0 black, 0 calc(var(--stroke-width) * -1) 0 var(--stroke-white);
}

.tv__screen__h4 {
  animation: blinker 2s linear infinite;
}

.submit_wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input[type=text]:focus,
textarea:focus,
input[type=submit]:focus,
a.button:focus {
	outline: 0;
}

input[type=submit],
a.button {
	background: transparent;
	border: 1px solid #FEBF00;
	clear: both;
	color: #FEBF00;
	cursor: hand;
	display: inline-block;
	font-family: 'VT323', Courier;
	font-size: 1em;
	padding: 10px 100px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	z-index: 10;
    transition: all 200ms;
    text-align: center;
}

input[type=submit]:hover,
a.button:hover {
    background: red;
    border-color: red
	color: #fff;
	opacity: 0.8;
}

a.cancel {
    border-color: grey;
}

@media screen and (max-width: 767px) {
    .tv__screen__h1 {
        font-size: 1.6em;
    }
    .tv__screen__h4 {
        font-size: 0.8em;
    }
    input[type=submit],
a.button {
    max-width: 70vw;
}
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
